<footer role="contentinfo" class="footer-primary">
  <div class="container cf">
    <div class="cf">
      <div class="sitemap-menu grid-flex-container">
        <div class="grid-flex-cell">
          <ul class="sitemap list-unstyled">
            <li class="sitemap-head">cyber•Congress</li>
            <li><a href="https://cybercongress.ai/">about</a></li>
            <li><a href="https://github.com/cybercongress">github</a></li>
            <li><a href="https://github.com/cybercongress/cyb/blob/dev/README.md">agreement</a></li>
            <li><a href="https://mainnet.aragon.org/#/cyberfoundation.aragonid.eth/">cyber•Foundation</a></li>

          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap list-unstyled">
            <li class="sitemap-head">cyber</li>
            <li><a href="https://cyberd.ai/">about</a></li>
            <li><a href="https://github.com/cybercongress/cyberd">github</a></li>
            <li><a href="https://github.com/cybercongress/cyberd/blob/master/docs/cyberd.md">whitepaper</a></li>
            <li><a href="https://t.me/fuckgoogle">devChat</a></li>
            <li><a href="#">forum</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap list-unstyled">
            <li class="sitemap-head">cyb</li>
            <li><a href="https://cyb.ai/">about</a></li>
            <li><a href="https://github.com/cybercongress/cyb">github</a></li>
            <li><a href="https://github.com/cybercongress/cyb/releases">releases</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap list-unstyled">
            <li class="sitemap-head">chaingear</li>
            <li><a href="https://cybercongress.github.io/chaingear/">about</a></li>
            <li><a href="https://github.com/cybercongress/chaingear">github</a></li>
          </ul>
        </div>
        <div class="grid-flex-cell">
          <ul class="sitemap list-unstyled">
            <li class="sitemap-head">Galt</li>
            <li><a href="https://galtproject.io/">about</a></li>
            <li><a href="https://github.com/galtspace">github</a></li>
            <li><a href="https://docs.galtproject.io/ru/">whitepaper</a></li>
          </ul>
        </div>
      </div>
      <div class="share-links">
        <ul class="share list-unstyled">
          {{ range .Site.Params.social }}
          <li><a class="{{ .title }}" href="{{ .link }}">{{ .title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <p class="footer-copyright center">© Cyber License. Don’t believe, don’t fear, don’t ask.</p>
  </div>
</footer>