<header class="header-has-logo" {{ if eq .page.Params.pagetype "subdoc"}}{{ else }} id="stars" {{ end }}>
  <div class="container cf">
    <h1 class="pull-left logo margin-bottom">
      <a href="/" class="logo ipfs-logo transition transition-fadeout">cyber•Congress</a>
      <a href="/"><span class='logo-text'>cyber•Congress</span></a>
    </h1>
    <nav role="navigation" class="pull-right top-nav top-nav-dark cf">
      <input id="menu-toggle" type="checkbox" class="menu-toggle">
      <label for="menu-toggle"></label>
      <ul class="list-unstyled list-inline cf">
        <li><a href="/#propducts">Products</a></li>
        <li><a href="/#team" {{ if eq .page.Type "team" }}class="current-item" {{ end }}>Team</a></li>
        <li><a href="/docs/cyberd/cyberd/"
            {{ if and (eq .page.Type "docs") (not (eq .page.Params.pagename "install")) }}class="current-item"
            {{ end }}>Docs</a></li>
        <li><a href="/post" {{ if or (eq .page.Type "blog") (eq .page.Data.Singular "author") }}class="current-item"
            {{ end }}>Blog</a></li>
      </ul>
    </nav>
    {{ if eq .hero "homepage" }}
    <div class="hero hero-home">
      <div class="hero-text">
        <h2 class="headline-main">Cyberd: like google but cyber</h2>
        <span class="divider"></span>
        <h3 class="subhead-main">Testnet euler-4 is alive</h3>
        <div class="cta">
          <a class="button-gravity" href="/docs/cyberd/help/run_validator/">Become a validator</a>
          <a class="button-gravity" href="/docs/cyberd/cyberd/">Whitepaper</a>
        </div>
      </div>
      <div class='statiscs'>
        <div class='grid-flex-container'>
          <div class='grid-flex-cell card'>
            <p id='cyberlinks'>0</p>
            <p>cyberlinks</p>
          </div>
          <div class='grid-flex-cell card'>
            <p id='contentIds'>0</p>
            <p>content ids</p>
          </div>
          <div class='grid-flex-cell card'>
            <p id='accounts'>0</p>
            <p>accounts</p>
          </div>
        </div>
        <div class='grid-flex-container'>
          <div class='grid-flex-cell'>
            <p id='totalGCYB'>0</p>
            <p>total GCYB</p>
          </div>
          <div class='grid-flex-cell'>
            <p id='stakedCYB'>0</p>
            <p>staked CYB (%)</p>
          </div>
          <div class='grid-flex-cell'>
            <p id='price'>0</p>
            <p>price of cyberlink (BP)</p>
          </div>
        </div>
        <div class='grid-flex-container'>
          <div class='grid-flex-cell'>
            <p id='validator'>0</p>
            <p>active validators</p>
          </div>
          <div class='grid-flex-cell'>
            <p id='transactions'>0</p>
            <p>transactions</p>
          </div>
          <div class='grid-flex-cell'>
            <p id='lastBlock'>0</p>
            <p>last block</p>
          </div>
        </div>


      </div>
    </div>
    {{ end }}
  </div>
  <div class="view-more">
    <label>View more</label><a href="#"></a>
  </div>
</header>