<header class="header-has-logo" {{ if eq .page.Params.pagetype "subdoc"}}{{ else }} id="stars" {{ end }}>
  <div class="container cf">
    <h1 class="pull-left logo margin-bottom">
      <a href="/" class="logo ipfs-logo transition transition-fadeout">cyber~Congress</a>
      <a href="/"><span class='logo-text'>cyber~Congress</span></a>
    </h1>
    <nav role="navigation" class="pull-right top-nav top-nav-dark cf">
      <input id="menu-toggle" type="checkbox" class="menu-toggle">
      <label for="menu-toggle"></label>
      <ul class="list-unstyled list-inline cf">
        <!-- <li><a href="/#propducts">Products</a></li> -->
        <li><a href="/docs/cyberd/cyberd/"
            {{ if and (eq .page.Type "docs") (not (eq .page.Params.pagename "install")) }}class="current-item"
            {{ end }}>Docs</a></li>
        <li><a href="http://ai.cybercongress.ai/"
            {{ if or (eq .page.Type "forum") (eq .page.Data.Singular "forum") }}class="current-item" {{ end }}>Forum</a>
        </li>
        <li><a href="/post" {{ if or (eq .page.Type "blog") (eq .page.Data.Singular "author") }}class="current-item"
            {{ end }}>Blog</a></li>
      </ul>
    </nav>
    {{ if eq .hero "homepage" }}
    <div class="hero hero-home">
      <div class="hero-text">
        <h2 class="headline-main">like google but cyber</h2>
        <span class="divider"></span>
        <!-- <div class='time-message'>
          Euler-5 testnet will launch in:
        </div> -->

        <div class='subhead-last-block'>
          <div id="countdown" class="countdown">
            <div class="countdown-number">
              <span class="days countdown-time"></span>
            </div>
            <div class="countdown-number">
              <span class="hours countdown-time"></span>
            </div>
            <div class="countdown-number">
              <span class="minutes countdown-time"></span>
            </div>
            <div class="countdown-number">
              <span class="seconds countdown-time"></span>
            </div>
          </div>
        </div>
        <div id="deadline-message" class="deadline-message">
          <div class='subhead-last-block'>
            <span class="subhead-main"><span id='testnet'>euler-</span> at block </span>
            <span class='last-block' id='lastBlock'>0</span>
          </div>
        </div>
        <a class="button-gravity" href="/docs/cyberd/run_validator/">Become a hero</a>
        <a class="button-gravity" target="_blank" href="https://cyber.page/#/">cyber.page</a>
        <a class="button-gravity" target="_blank" href="https://ipfs.io/ipfs/QmPjbx76LycfzSSWMcnni6YVvV3UNhTrYzyPMuiA9UQM3x">White paper</a>
      </div>
      <div id="deadline-statiscs" class="deadline-message">
        <div class='statiscs'>
          <div class='grid-flex-container'>
            <div class='grid-flex-cell card'>
              <p class='card-value' id='cyberlinks'>0</p>
              <p class='card-value'>cyberlinks</p>
            </div>
            <div class='grid-flex-cell card'>
              <p id='contentIds'>0</p>
              <p>content ids</p>
            </div>
            <div class='grid-flex-cell card'>
              <p id='accounts'>0</p>
              <p>accounts</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    {{ end }}
  </div>
  <!-- <div class="view-more">
    <label>View more</label><a href="#"></a>
  </div> -->
</header>
<script>
  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      total: t,
      days: days,
      hours: hours,
      minutes: minutes,
      seconds: seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector(".days");
    var hoursSpan = clock.querySelector(".hours");
    var minutesSpan = clock.querySelector(".minutes");
    var secondsSpan = clock.querySelector(".seconds");

    function updateClock() {
      var t = getTimeRemaining(endtime);

      if (t.total <= 0) {
        document.getElementById("countdown").className = "hidden";
        document.getElementById("deadline-message").className = "visible";
        document.getElementById("deadline-statiscs").className = "visible";
        clearInterval(timeinterval);
        return true;
      }

      daysSpan.innerHTML = t.days + "d";
      hoursSpan.innerHTML = ("0" + t.hours + "h").slice(-3);
      minutesSpan.innerHTML = ("0" + t.minutes + "m").slice(-3);
      secondsSpan.innerHTML = ("0" + t.seconds + "s").slice(-3);
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);

  }

  var resultGMT;
  var offset = new Date().getTimezoneOffset();
  if (offset < 0)
    resultGMT = "GMT+" + (offset / -60);
  else
    resultGMT = "GMT-" + offset / 60;

  var deadline = "December 20 2019 21:00:00 " + resultGMT;
  //var deadline = "January 01 2018 00:00:00 GMT+0300"; //for Ukraine
  // var deadline = new Date(Date.parse(new Date()) + 5 * 1000); // for endless timer
  initializeClock("countdown", deadline);
</script>
