<section id="propducts">
  <div class="container">

    <h2 class="content-center">Products</h2>
    <div class="grid-flex-container">
      <div class="grid-flex-cell-1of2 products-cell">
        <a href="https://github.com/cybercongress/cyberd/blob/master/README.md" target="_blank">
          <div class="implementation-logo content-center avatar-rounded">
            <img src="/images/cyber.png" />
          </div>
          <h5 class="content-center">Cyber</h5>
          <p>InterPlanetary Search Engine & Knowledge Consensus Computer in Go/Cosmos-SDK/Tendermint</p>
        </a>
        <div class='content-center position-absolute bottom'>
          <a href="https://github.com/cybercongress/cyberd/blob/master/docs/run_validator.md" class='button-gravity' target="_blank">
            become validator
          </a>
        </div>

      </div>

      <div class="grid-flex-cell-1of2 products-cell">
        <a href="https://github.com/cybercongress/cyb/blob/dev/README.md" target="_blank">
          <div class="implementation-logo content-center avatar-rounded">
            <img src="/images/logo-cyb-v2.svg" />
          </div>
          <h5 class="content-center">Cyb</h5>
          <p>Personal immortal robot for the The Great Web</p>
        </a>
        <div class='content-center position-absolute bottom'>
            <a href="https://github.com/cybercongress/cyb/releases" class='button-gravity' target="_blank">
              download
            </a>
          </div>
      </div>
    </div>

    <!-- <h2 id="integrations-title" class="content-center">Integrations</h2> -->
    <div class="grid-flex-container">
        <div class="grid-flex-cell-1of2 products-cell">
            <a href="https://github.com/cybercongress/js-cosmos/blob/master/README.md" target="_blank">
              <div class="implementation-logo content-center avatar-rounded">
                <img src="/images/js-cosmos-logo.svg" />
              </div>
              <h5 class="content-center">Js-Cosmos</h5>
              <p>Client library for Cosmos-SDK/Tendermint</p>
            </a>
            <div class='content-center position-absolute bottom'>
                <a href="https://www.npmjs.com/package/js-cosmos" class='button-gravity' target="_blank">
                  try
                </a>
              </div>
          </div>

      <div class="grid-flex-cell grid-flex-cell-1of2 content-center products-cell">
        <a href="https://github.com/cybercongress/js-amino/blob/master/README.md" target="_blank">
          <div class="implementation-logo content-center avatar-rounded">
            <img src="/images/logo-js-amino.svg" />
          </div>
          <h5 class="content-center">Js-amino</h5>
          <p align="left">Javascript implementation of the Amino encoding protocol</p>
        </a>
        <div class='content-center position-absolute bottom'>
            <a href="https://www.npmjs.com/package/@cybercongress/js-amino" class='button-gravity' target="_blank">
              try
            </a>
          </div>
      </div>
    </div>
    <div class="grid-flex-container">
      <div class="grid-flex-cell-1of2 products-cell">
            <a href="https://github.com/cybercongress/chaingear/blob/master/README.md" target="_blank">
              <div class="implementation-logo content-center avatar-rounded">
                <img src="/images/logo-chaingear.svg" />
              </div>
              <h5 class="content-center">Chaingear</h5>
              <p>The consensus computer driven database framework</p>
            </a>
            <div class='content-center position-absolute bottom'>
                <a href="https://cloudflare-ipfs.com/ipfs/QmQmQKkPFqLS4iNiicvAqx6aJtRpYookK8iEZjojcfEqib/#/" class='button-gravity' target="_blank">
                  explore
                </a>
              </div>
          </div>
      <div class="grid-flex-cell-1of2 products-cell">
        <a href="https://github.com/cyblabs" target="_blank">
          <div class="implementation-logo content-center avatar-rounded">
            <img src="/images/logo-cyber-labs.png" />
          </div>
          <h5 class="content-center">cyber•Labs</h5>
          <p>Community of independent open-sourced laboratories</p>
        </a>
        <div class='content-center position-absolute bottom'>
            <a href="https://github.com/cyblabs" class='button-gravity' target="_blank">
              DIY
            </a>
          </div>
      </div>
    </div>

  </div>
</section>