<section id="team" class="content-center">
    <h2>Team</h2>
    <div class="grid-flex-container">
        <div class="grid-flex-cell team-item">
            <div class="illustration team-item__photo">
                <img src="/images/team-dmitriy-starodubcev.jpg" />
            </div>
            

                <div class='team-item__link-center'>
                    <a href="https://github.com/xhipster">
                        <img src="/images/icon-github-grey.svg" alt="">
                        <p>
                            xhipster
                        </p>
                    </a>
                </div>
        
            <p class='team-item__info-center'>Original gangster of cryptofunds</p>

        </div>
        <div class="grid-flex-cell team-item">
            <div class="illustration team-item__photo">

                <img src="/images/team-nikolai-popeka.jpg" />
            </div>
            <h5 class='team-item__name'>Nikolai Popeka</h5>
            <p class='team-item__role'>Founder, CEO and Product Manager</p>
            <p class='team-item__info'>A cryptoinvestor, co-founder in NIT Engineering company, nebo.ru marketplace.</p>
            <div class='position-absolute bottom team-item__link'>
                <a href="https://github.com/npopeka">
                    <img src="/images/icon-github-grey.svg" alt="">
                    <p>
                        npopeka
                    </p>
                </a>
            </div>
        </div>
        <div class="grid-flex-cell team-item">
            <div class="illustration team-item__photo">
                <img src="/images/team-valery-litvin.jpg" />
            </div>
            <h5 class='team-item__name'>Valery Litvin</h5>
            <p class='team-item__role'>Co-founder and Software developer</p>
            <p class='team-item__info'>A cryptoinvestor, co-founder in Golos Blockchain, Cyber.Search.</p>
            <div class='position-absolute bottom team-item__link'>
                <a href="https://github.com/litvintech">
                    <img src="/images/icon-github-grey.svg" alt="">
                    <p>
                        litvintech
                    </p>
                </a>
            </div>
        </div>


    </div>
</section>